{% extends "base.html" %}

{% block title %}
{{ article.title }} - {{ super() }}
{% endblock %}

{% block head_description %}
{% if article.summary %}{{ article.summary|striptags }}{% endif %}
{% endblock %}

{% block meta %}
{% if article.tags or article.category or article.keywords %}
<meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
{% endif %}
{% endblock %}

{% block content %}
    <article class="post">
        <header>
            <h1 class="post__title">{{ article.title }}</h1>
            <div class="post-info">

                {% if article.author %} 
                <div class="post-author">
                    <span class="milli">by</span> {{ article.author }}
                </div>
                {% endif %}

                {% if article.date %} 
                <div class="post-publish">
                    {% set day = article.date.strftime('%d')|int %}
                    <span class="milli">on</span> <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">
                        {{ article.date.strftime('%b') }} 
                        {{ day }} 
                        {{- article.date.strftime(', %Y') }}
                    </time>
                </div>
                {% endif %}

                {% if article.category %}
                <div class="post-category">
                    <span class="milli">in</span> <a class="post-category__link" href="/category/{{ category|replace(' ', '-')|e }}.html">
                        <span class="loz post-category__text">{{ article.category }}</span>
                    </a> 
                </div>
                {% endif %}

                {% if article.tags %}
                <div class="post-tag">
                    <ul> 
                        {% for tag in article.tags|sort %}
                        <li class="post-tag__item">
                            <a class="post-tag__link" 
                                href="/tag/{{ tag|replace(' ', '-')|e }}.html">
                                <span class="pill">{{ tag }}</span>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </header>
        <hr />
        {{ article.content }}
    </article>
{% endblock %}
