        <header class="banner">
            <div class="logo mega">
                <a href="{{ SITEURL }}/" class="logo__link">{{ SITENAME }}</a>
            </div>
            <menu class="main-menu nav breadcrumb">

                <li data-breadcrumb="|" class="nav__item">
                    <a href="/tags" class="menu-item__link">Tags</a>
                </li>

                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                <li data-breadcrumb="|" class="menu-item nav__item">
                    <a href="{{ SITEURL }}/{{ page.url }}" class="menu-item__link">{{ page.title }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </menu>
        </header>
