        <header class="banner">
            <div class="flexbox">
            <div class="logo flexbox__item one-half">
                <a href="{{ SITEURL }}/" class="logo__link">{{ SITENAME }}</a>
            </div>
            <div class="search flexbox__item one-third">
                <gcse:search></gcse:search>
            </div>
            </div>
            <menu class="main-menu nav breadcrumb one-whole">

                {% if DISPLAY_CATEGORIES_ON_MENU %}
                    {% for cat, articles in categories %}
                    <li data-breadcrumb="|" 
                        class="menu-item nav__item{% if cat == category %} active{% endif %}">
                        <a href="{{ SITEURL }}/{{ cat.url }}" class="menu-item__link">{{ cat|capitalize }}</a>
                    </li>
                    {% endfor %}
                {% endif %}

                <li data-breadcrumb="|" class="nav__item">
                    <a href="/tags.html" class="menu-item__link">Tags</a>
                </li>

                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                <li data-breadcrumb="|" class="menu-item nav__item">
                    <a href="{{ SITEURL }}/{{ page.url }}" class="menu-item__link">{{ page.title }}</a>
                </li>
                {% endfor %}
                {% endif %}
            </menu>
        </header>
