@import '_color';

@function calculateRem($size){
    $remSize: $size;
    @return #{$remSize}rem;
}

@mixin fontSize($size){
    font-size: $size; //Fallback in px
    font-size: calculateRem($size);
}

$font-stack: Helvetica, sans-serif;

$font-color: $black;
$link-color: $orange;

$default-font-size: calculateRem(23px);

body {
    font: $default-font-size $font-stack;
    color: $font-color;
    a {
        color: $link-color;
    }
}
