/* Colors Definition */

// WARNING, WARNING!!!

/* NEVER USE THESE VARIABLE IN YOUR CODE
   INSTEAD USE THE COLOR DEFINED IN THE BASE (_base.scss). */


$white: #fff;
$grey: #d3d3d3;
$black: #000;

// Orange
$orange: #ff6600;
$lightOrange: #e69600;

// Blue
$blue: #003399;
$light-blue: #0099ff;

