body {
    max-width: $base-width;
    margin: 0 auto;
    padding: em(24px);
}

p {
    margin-bottom: 10px;
}


/* Syntax Highlighting */

@media (max-width:480px) {
    .linenos {
        display:none !important;
    }
}

.linenodiv pre {
    background-color: #eee8d5;
    border-radius: 3px 0 0 3px;
    color: #657b83;
}
.linenos {
    width: 30px;
    padding-right: 0px;
}
td.code .highlight pre {
    background-color: #202020;
    border-radius: 0 3px 3px 0;
}
td.code {
    width: 100%;
    max-width: 900px;
    margin-left: 0px;
    padding-left: 0px;
}

.code .highlight {
    padding-left: 10px;
}

.highlighttable pre {
    padding-right: 10px;
    padding-left: 10px;
    overflow: auto;
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}

.highlighttable {
    width: 100%;
    padding-top: 0px;

}
