.post {

}

.post header {
    margin-bottom: 24px;
}

.post__title {
    margin-bottom: 0px;
}

.post-info {

}

.post-author {
    display: inline;
}

.post-publish {
    display: inline;
}

.post-category {
    display: inline;
}

.post-category__text {
    background-color: $primary-color;
}

.post-category__link {
    text-decoration: none;
}

.post-tag {
    display: inline;
}

.post-tag ul {
    list-style: none;
    display: inline;
    margin-left: 1px;
}

.post-tag__item {
    display: inline;
}

.post-tag__link {
    text-decoration: none;
}
